@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

[data-testid="footer"] {
  height: 53.5px;
  width: 100vw;
  background-color: rgb(211, 155, 2);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

[data-testid="drinks-bottom-btn"] {
  margin: 4px;
  border: 1px whitesmoke solid;
  border-radius: 3px;
  background-color: rgb(233, 172, 40);
  width: 44px;
  height: 44px;
  display: flex;
}

[data-testid="explore-bottom-btn"] {
  margin: 4px;
  border: 1px whitesmoke solid;
  border-radius: 3px;
  background-color: rgb(233, 172, 40);
  width: 44px;
  height: 44px;
  display: flex;
}

[data-testid="food-bottom-btn"] {
  margin: 4px;
  border: 1px whitesmoke solid;
  border-radius: 3px;
  background-color: rgb(233, 172, 40);
  width: 44px;
  height: 44px;
  display: flex;
}
